/* ====================encar=================================================*/
header {
  background-image:url(/home/eha/projets/AirBanB/img/background.jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;

}


footer{
  background-color: grey;
  height: 300px;
  text-align: center;

}
.logo {
  width: 50%;
  float:left;
}

.titre {
  width: 100%;
  text-align: center;
  color:#fff;
}

.cadrer {
  margin-top: 20%;
}

.but {
  text-align: center;
  margin-top: 30px;
}

.encadre{
  padding: 0 6px 0 6px;
  border: 1px solid #fff;
  color:#fff;
}

.text-b a {
  color: #fff;
}


/* ==================== /encar================================================*/

/* ==================== video ================================================*/

/* ==================== /video=================================================
