/* ====================encar=================================================*/
header {
  background-image:url(../img/background.jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;

}


/*********** footer *********/

footer{
 /*background-image:url(/home/eha/projets/AirBanB/img/backgroundfooter.jpg);*/
 color: white;
 text-align: center;
 background-image: url("../img/backgroundfooter.jpg");
 margin-top: 5%;
 margin:auto 10%;
width: auto;

}

.flexbox{
  display:flex;
}


/*********** /footer *********/


.logo {
  width: 50%;
  float:left;
}

.titre {
  width: 100%;
  text-align: center;
  color:#fff;
}

.cadrer {
  margin-top: 18%;
}

.but {
  text-align: center;
  margin-top: 30px;
}

.encadre{
  padding: 0 6px 0 6px;
  border: 1px solid #fff;
  color:#fff;
}

.text-b a {
  color: #fff;
}


/* ==================== /encar================================================*/

/* ==================== video ================================================*/

/* ==================== /video=================================================
